<h1>Eat Burgers!</h1>

<h2>Burgers to Eat</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Devoured Burgers</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{!-- {{> burgers/burger-block devoured=true}} --}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="order">Order a Burger:</label>
        <input type="text" id="burger" name="name">
        {{!-- I am confused about the function of the id in the form --}}
    </div>

    <button type="submit">Order Burger</button>
</form>