<li>


    <button class="devoured" data-id="{{id}}">
        {{burger_name}}
        {{!-- <button class="devoured" data-id="{{id}}" data-newDevoured="{{devoured}}"></button> --}}
        {{!-- {{#if devoured}}{{/if}} --}}
    </button>

</li>